{% extends 'celery_app/base.html' %}

{% block title %}
    Websites
{% endblock %}
{% block content %}
    <table class="table table-hover">
        <tr>
            <th>Alexa rank</th>
            <th>URL</th>
            <th>Title</th>
            <th>Category</th>
        </tr>
    {% for object in object_list %}
        <tr>
{#        <td><input class="btn btn-primary" type="button" onclick="location.href='{{ object.get_absolute_url }}' " value="{{ object }}"/></td>#}
            <td>{{ object.alexa_rank }}</td>
            <td>{{ object.url }}</td>
            <td>{{ object.title }}</td>
            <td>{% for website_category in object.category.all %}
                {{ website_category.name }}{% endfor %}</td>
        </tr>
    {% endfor %}
    </table>
{% endblock content %}