{% extends 'celery_app/base.html' %}

{% block title %}
    Websites
{% endblock %}
{% block content %}
{#    <div>#}
{#    {{ filter.form }}#}
{#    </div>#}
    <div>
        <table class="table table-striped table-bordered mydatatable" style="width: 100%">
        <thead>
        <tr>
            <th>Id</th>
            <th>Alexa rank</th>
            <th>URL</th>
            <th>Title</th>
            <th>Category</th>
        </tr>
        </thead>
        {% for object in object_list %}
            <tr>
    {#        <td><input class="btn btn-primary" type="button" onclick="location.href='{{ object.get_absolute_url }}' " value="{{ object }}"/></td>#}
                <td>{{ object.id }}</td>
                <td>{{ object.alexa_rank }}</td>
                <td>{{ object.url }}</td>
                <td>{{ object.title }}</td>
                <td>{{ object.category }}</td>
            </tr>
        {% endfor %}
        </table>
    </div>
{% endblock content %}